 /* CSS Document */
 p {
	 color: gray;
	 font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	 font-size: 15px; 
	 line-height: 18px; 
	 width: 600px; 
	 background-color: rgb(255, 255, 255, 0.5);
	 padding: 20px;
 }
 .paragraf_2{color:gray; background-color: rgb(255, 255, 255, 0.5)}
 .novi_blok {
	 background-color: rgb(255, 255, 255, 0.5);
	 padding: 20px;
	 margin: 20px;
	 width; 50%;
 }
 h1  {
	 font-family: BrunaSlogar;                  
	 color: white;
	 font-size: 40px;
	 padding: 10px;
	 margin-top: 30px;
	 line-height: 1px;
 }
 
 
 h2 {
	 font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	 color: rgb(50, 55, 155); 
	 font-size: 20px;
	 padding: 10px;
	 margin-top: 1px;
	 line-height: 0.5px;
 }
 
 h3{
	 font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	 color: rgb(50, 55, 155); 
	 font-size: 20px;
	 padding: 10px;
	 margin-top: 15px;
	 line-height: 0.5px;
 }
 
 span {color: rgb(255, 255, 255);}
 .pozadina{
	 background-image: url("slike/pozadina.jpg");
 }
   .drugapozadina {
	   background-image: url("slike/pozadina.jpg");
   }
 a{
	 color: rgb(50, 55, 155); 
background-color: white;
padding: 10px;
	 line-height: 25px;
	 border: 1px 
 }
 a:hover{
	 background-color: yellow;
 }
 img {
	 height: 200px; 
 }
 
 li{
	 display: inline; 
 }